# Ignore Mac system files
.DS_Store

# Ignore all large data files
data/raw-data/
data/derived-data/*.csv
data/derived-data/*.parquet

# Keep the folder structure but ignore the contents
!data/derived-data/.gitkeep

# Ignore python cache
__pycache__/
*.pyc